---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getRecipePath } from "@/utils/getRecipePath";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"recipes">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, prepTime, cookTime, servings } = data;

const timeInfo = [prepTime && `Prep: ${prepTime}`, cookTime && `Cook: ${cookTime}`, servings && `Serves: ${servings}`]
  .filter(Boolean)
  .join(" | ");
---

<li class="my-6">
  <a
    href={getRecipePath(id, filePath)}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  {timeInfo && <p class="text-sm opacity-80 italic">{timeInfo}</p>}
  <p>{description}</p>
</li>
